.about {
    width: 100%;
    padding: 100px 0;
  }
  
  .about__img {
    padding: 30px;
  }
  .about__img img {
    width: 100%;
    -webkit-clip-path:circle(100% at 50% 100%);
    clip-path: circle(85% at 30% 50%);
  }
  .CVButton{
    border-radius:8px;
    background-color: darkgray;
    padding:6px;
    margin-top:20px;
    align-items: center;
    display: flex;
    color:black;
  
  }
  
  .CVIcon{
    font-size:25px;
    margin-right:2px;
    color:#f00e06;
  }
  
  
  .about__info h1 {
    margin-bottom: 20px;
  }
  
  .about__info-p1 {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .about__info-p2 {
    font-size: 14px;
  }
  
  .info__contacts {
    margin-top: 20px;
  }
  
  .info__contacts strong {
    color: #ff4a57;
  }
  .info__contacts p {
    margin-top: 3px;
  }
  .info__contacts .col-6 {
    margin: 10px 0;
  }

  @media (max-width: 765px) {
    .about__img {
      width:0;
      height:0;
      padding:0;
      visibility: hidden;
      
    }

  }