*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans 3', sans-serif;
  text-decoration: none;
}
.cv__box{
display:none;
  padding:0;

}
.content .upper{
  box-shadow: 0 0 20px #181815(0, 0, 0, 0.5);
  border:1px inset rgb(80, 67, 67);
    border-radius: 5px;
  padding:30px;
}

.cv__btn{
  border:1px solid #FFE484;
  border-radius: 4px;
  color:#FFE484;
  font-size:15px;
  vertical-align: middle;
  padding: 6px 12px;
  font-weight: 600;
  box-shadow: 0 0 20px #FFE484(0, 0, 0, 0.5);
}

  .cv__btn:hover{
    background-color: #FFE484;
    color:black;
  }

footer{
  width: 100%;
  left: 0;
  font-size:18px;
  background-image: linear-gradient(to right,gray,#231123,#7952B3);
  height:330px;
  overflow: hidden;
}

footer .content{
  display: grid;
  padding:15px;
  grid-template-columns: auto auto auto auto;
  margin:auto;
}
footer .content p,a{
  color: #fff;
}
footer .content .box{
  padding:20px;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}
footer.content .topic .inputs{
  justify-content: space-evenly;
}

footer .content p{
  font-size: 18px;
}
#Row{
  display:flex;
  flex-direction: row;
}

footer .content .lower .topic{
  margin: 24px 0 5px 0;
}

footer .content .lower i{
  padding-right: 16px;
}

footer .content .middle{
  padding-left: 80px;
}

footer .content .middle a{
  line-height: 32px;
}

footer .content .right input[type="text"]{
  height: 45px;
  max-width: 300px;
  outline: none;
  color: #d9d9d9;
  background:#7952B3;
  border-radius: 5px;
  padding-left: 10px;
  margin-top:12px;
  font-size: 17px;
  border: 2px solid #222222;
}


footer .content .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #eb2f06;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #eb2f06;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover{
  background: none;
  color:  #eb2f06;
}
footer .content .media-icons{
  text-align: center;
}

footer .content .media-icons a{
  font-size: 25px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color: #eb2f06;
}
footer .bottom{
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a{
  color: #eb2f06;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  color: #eb2f06;
}
@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer {
    position:relative;
    background-image: linear-gradient(to right,darkgray,#231123);
    height:100%;
  }

  .cv__box{
    display:contents;
padding-bottom: 10px;
  }
 
  .content .right{
    margin-top: 40px;
  }
  footer .content ,.inputs{
    display:flex;
    flex-direction: column;
  }
}

@media (max-width:560px){

  footer .content .box{
    width: 50%;
  }
  #Row{
    flex-direction: column;
  }
 
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }

  footer .content .middle{
    padding-left: 0;
  }
  footer .content .left{
    padding-left: 0;
  }
}