.bannertext__container {
    background-image: linear-gradient(to right, gray, #443844);
    height: 540px;
    width: 100%;
    padding-top: 30px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.home__img {
    position: absolute;
    opacity: 0.1;
    height: 510px;
    pointer-events: none;
}



#banner__name {
    font-weight: 1000;
    color: white;
    font-size: 4rem;
    font-family: 'Cinzel', serif;
}

#banner__icon {
    font-size: 15rem;
    color: silver;
    opacity: 0.6;
    transition: 0.8s ease;
}



#banner__icon:hover {
    opacity: 1;
    transform: scale(1.2);
}

#admin__role {
    font-size: 14px;
    color: silver;
}


.banner__heading {
    padding-bottom: 7px;
}

.bannertext__container h1 {
    font-size: 49px;
}





.right__block .admin {
    display: flex;
    flex-direction: row;
    padding-bottom: 35px;
    text-align: center;
}

.admin__info {
    display: grid;
    grid-template-rows: 20px 10px;
}


.admin__img {
    height: 50px;
    margin-right: 7px;
    transform: translateY(-4px);
    -webkit-clip-path: circle(50%);
    clip-path: circle(40%);
    max-width: 50px;
}

.two__btn {
    display: flex;
    flex-direction: row;
    text-align: center;

}

.two__btn .show__more {
    color: whitesmoke;
    cursor: pointer;
    margin-bottom: 100px;

    padding: 12px 16px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid silver;
    font-size: 14px;
    margin-right: 15px;
    font-weight: 600
}

.two__btn .show__more:hover {
    background-image: linear-gradient(to left, gray, silver);
}

.two__btn .explore__btn {
    color: whitesmoke;
    cursor: pointer;
    margin-bottom: 100px;
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(57, 209, 214), rgb(93, 93, 175), rgb(47, 42, 42));
    padding: 12px 16px;
    font-weight: 600;
    border-radius: 5px;
    font-size: 14px;
}

.two__btn .explore__btn:hover {
    background-color: grey;
}



#quote__box {
    max-width: 670px;

}

#quote__box p {
    font-size: 1.2rem;
    opacity: 0.7;
    color: whitesmoke;
    transition: 3s ease;
}

.text {
    font-size: 1.3rem;
    opacity: 0.9;
    color: burlywood;
    font-weight: 600;
}

.ChangingText:before {
    content: "";
    animation: animate infinite 8s ease;
    font-weight: 600;
    color: gold;
    padding: 10px 10px 10px 10px;
    font-family: 'Lobster Two', cursive;
}

#QuoteLeft {
    font-size: 18px;
    opacity: 0.5;
    margin-bottom: 5px;
    color: white;
}

@keyframes animate {

    0% {
        content: "Full Stack Web Developer ✌️";
    }

    70% {
        content: "UI / Theme Developer";
    }

    100% {
        content: "Freelancer 💰️";
    }
}

.btn {
    outline: none;
    border: none;
    text-decoration: none;
    margin: 15px;
}

.btn-outline {
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 17px;
    font-weight: 420;
    transition: 0.5s;
    content: "";
    background: darkgray;
}

.btn-outline:hover {
    padding: 10px 40px;
}



.btn-smart {
    background: silver;
    padding: 13px 40px;
    border-radius: 50px;
}

@media (max-width: 455px) {
    .ChangingText {
        font-size: 17px;
        opacity: 1;
    }

    .bannertext__container h1 {
        padding-top: 150px;

    }



    .two__btn {
        transition: 0.6s ease;
        transform: translateY(-22px);
    }



    #banner__icon {
        display: none;
    }


    #banner__icon #facode {
        font-size: 6rem;
        opacity: 0.6;
    }
}

@media (max-width: 825px) {

    .bannertext__container h1 {
        font-size: 25px;
        line-height: 35px;
    }

    .home__img {
        height: 100vh;
        opacity: 0.5;
    }

    #banner__name {
        font-size: 40px;
        padding: 20px;
        opacity: 0.7;
        font-weight: 1200;
    }

    #banner__icon {
        margin-top: 40px;
        font-size: 7rem;
        pointer-events: none;
        transform: translateY(30px);

    }

    .bannertext__container {
        justify-content: space-around;
        background-image: linear-gradient(to right, darkgray, rgb(75, 114, 116));
        flex-direction: column;
        height: 670px;
        text-align: center;
        align-items: center;
    }

    .left__block {
        padding-right: 0;
    }

    #quote__box {
        font-size: 10px;
        margin-top: 10px;
        line-height: 26px;
        padding: 10px 30px 5px 30px;
        text-align: left;
    }

    #quote__box p {
        font-size: 16px;
        opacity: 1;
        margin-top: -12px;
        color: rgb(231, 225, 225)
    }

    .two__btn {
        justify-content: center;
        align-items: center;
        transform: translateY(-35px);
    }

    #admin__role {
        color: #443844;
        opacity: 0.5;
    }

    .headerIcon {
        font-size: 24px;
    }

    .home__img {
        display: none;
    }

    .header__section p {
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
        padding-bottom: 50px;
    }

    .admin {
        justify-content: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }



    .bannertext__container .banner__logo {
        font-size: 27px;
    }

}