@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@500&display=swap');
.bannertext__container{
  background-image: linear-gradient(to right,gray,silver,#443844);
  height: 540px;
  width:100%;
  padding-top:30px;
 align-items: center;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#banner__icon{
  font-size:15rem;
  color:silver;
  opacity:0.6;
  transition:0.8s ease;
}
#banner__icon:hover{
  opacity:1;
  transform: scale(1.2);
}
#admin__role{
  font-size: 14px;
  color:silver;
}

  .bannertext__container p {
    font-size: 18px;
    opacity:0.6;
    padding-top:10px;
  }
  .bannertext__container h1 {
    font-size: 63px;
    padding-bottom:7px;
    opacity: 0.7;
    font-family: 'Bebas Neue', cursive;  }




  .right__block .admin{
    display:flex;
    flex-direction: row;
    padding-bottom: 40px;
    text-align: center;
  }

.admin__info{
  display: grid;
  grid-template-rows: 20px 10px;
}


  .admin__img{
    height:50px;
    margin-right:7px;
    -webkit-clip-path:circle(50%);
    clip-path:circle(40%);
    max-width: 50px;
  }
  .two__btn{
    display:flex;
    flex-direction: row;
    text-align: center;

  }
 
  .two__btn .show__more{
    color:silver;
    cursor: pointer;
    margin-bottom:100px;

    background-color:black;
    padding: 12px 16px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    font-size:13px;
    margin-right:15px;
    font-weight: 600
  }
  .two__btn .show__more:hover{
    background-color:rgb(33, 29, 65)
  }
  .two__btn .explore__btn{
    color:black;
    cursor: pointer;
    margin-bottom:100px;
    text-decoration: none;
    background-color:silver;
    padding: 12px 16px;
    font-weight: 600;
    border-radius: 5px;
    font-size:13px;
  }
  .two__btn .explore__btn:hover{
    background-color: grey;
  }



  .quote__box {
    max-width: 500px;
    padding-bottom: 10px;
    font-weight: "400";
    line-height:26px;
  }
  .quote__box p{
    font-size: 17px;
  }
 
  
  .ChangingText:before{
    font-size: 19px;
    opacity:0.5;
    content:"";
    animation: animate infinite 5s;
    color:black;
    font-weight: 600;
  }

  @keyframes animate{

    0%{
        content:"Full Stack Web Developer,";
    }
    70%{
        content:"Freelancer,";
    }
    100%{
        content:"Fitness Instructor,";
    }
  }
 
  .btn {
    outline: none;
    border: none;
    text-decoration: none;
    margin:15px;
  }
  
  .btn-outline {
    border-radius: 10px;
    padding: 10px 25px;
    font-size:17px;
    font-weight: 420;
    transition: 0.5s;
    content:"";
    background:darkgray;
  }
  .btn-outline:hover {
    padding:10px 40px;
  }
  .btn-smart {
    background: silver;
    padding: 13px 40px;
    border-radius: 50px;
  }

 @media (max-width: 455px){

  .two__btn{
    flex-direction: column;
    transition: 0.6s ease;
    transform: translateY(-22px);
  }
  .two__btn .show__more{
    width:250px;
    margin-bottom: 15px;
    margin-right:0px;
    font-size: 17px;
  }
  .two__btn .explore__btn{
    width:250px;
    font-size: 17px;
  }
  #banner__icon{
    transform: translateY(35px);
  }
  #banner__icon #facode{
    font-size: 8rem;
  }
 }

  @media (max-width: 825px) {
    
    .bannertext__container h1 {
        font-size: 34px;
        opacity:0.4;
        line-height: 32px;
   
      }

    #banner__icon{
        font-size: 9rem;
        pointer-events: none;
      }
    .bannertext__container{
        background-image: linear-gradient(to right,darkgray,rgb(75, 114, 116));
        padding-top:60px;
        height:700px;
        padding-right:0px;
        padding-left:0;
        flex-direction: column;
        text-align: center;
        align-items: center;
      }
    .left__block{
        padding-right:0;
    }
    .quote__box {
        padding:10px;
        font-size:10px;
      }
    .quote__box p{
        font-size:15px;
        padding-top:0;
      }
    .two__btn{
        justify-content: center;
        align-items: center;
      }
    #admin__role{
      color:#443844;
      opacity:0.5;
    }
    .headerIcon{
        font-size:24px;
      }
    .banner__img{
      display:none;
    }
    .header__section p {
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
        padding-bottom: 50px;
      }
      .admin{
        justify-content: center;
      }
 
      .bannertext__container .banner__logo{
        font-size:27px;
      }

}