@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap');

.header {
    width: 100%;
    height: 100%;
    background: url("https://github.com/ashpakmulani1101/portfolio/blob/main/public/images/bg.jpg?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  .header__content {
    display: flex;
    align-items: center;
    height: 80vh;
    width: 100%;
    margin-top:100px;
  

  }
  .header__ul {
    list-style-type: none;
    display: flex;
    margin-bottom: 20px;
  }
  .header__ul li {
    width: 50px;
    height: 50px;
    border: 2px solid silver;
    border-radius: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    transition: all 0.5s linear;
    cursor: pointer;
  }
  .header__ul li:hover {
    background: #fff;
    font-size:20px;
    border: 2px solid transparent;
  }
  .headerIcon{
    font-size:26px;
  }
  .header__ul li:hover .headerIcon {
    color: #ff4a57;
  }
  .header__ul li:first-child {
    margin-left: 0;
  }

  .header__section p {
    font-size: 18px;
    margin-bottom: 50px;
    opacity:0.7;
    margin-top:10px;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

  }
  .header__section .two__btn{
    margin-bottom:100px;
  }
  .header__section .show__more{
    color:silver;
    cursor: pointer;
    background-color:black;
    padding: 12px 16px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    font-size:13px;
    margin-right:15px;
    font-weight: 600
  }
  .header__section .show__more:hover{
    background-color:rgb(33, 29, 65)
  }
  .header__section .explore__btn{
    color:black;
    cursor: pointer;
    margin-bottom:100px;
    text-decoration: none;
    background-color:silver;
    padding: 12px 16px;
    font-weight: 600;
    border-radius: 5px;
    font-size:13px;
  }
  .header__section .explore__btn:hover{
    background-color: grey;
  }

  .header__section h3{
    font-size:21px;
  }
  .header__section h2 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 15px;
    position: relative;
    line-height: 0.7em;
    font-family: 'Open Sans', sans-serif;
  
  }
  #quote__box {
    background-color: #F3F4F6;
    padding:30px;
    font-size: 16;
    font-weight: "400";
    line-height:26px;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  }
  
  .ChangingText:before{
    font-size: 19px;
    content:"";
    animation: animate infinite 5s;
    color:maroon;
    font-family: 'Arvo', serif;
  }

  @keyframes animate{
    0%{
        content:"Computer Science Student,";
    }
    25%{
        content:"Front End Developer,";
    }
    50%{
        content:"Freelancer,";
    }
    75%{
        content:"Fitness Instructor,";
    }
    100%{
        content:"Athlet"
    }
  }
    .play {
    font-size: 71px;
    color:darkgray
  }
 
  .btn-outline:hover #galleryText::after{
    content: "Gallery";
  }
  
 
  .btn {
    outline: none;
    border: none;
    text-decoration: none;
    margin:15px;
  }
  
  .btn-outline {
    border-radius: 10px;
    padding: 10px 25px;
    font-size:17px;
    font-weight: 420;
    transition: 0.5s;
    content:"";
    background:darkgray;
  }
  .btn-outline:hover {
    padding:10px 40px;
  }
  .btn-smart {
    background: silver;
    padding: 13px 40px;
    border-radius: 50px;
  }

  .banner__icons{
    visibility: hidden;
  }
  .banner_ico{
    font-size:1.7rem;
    margin:10px;
    color:rgb(119, 108, 108);
  }
  .banner__img img{
    background-size: cover;
max-width: 700px;
position:absolute;
margin-left:700px;
-webkit-clip-path:circle(80% at 60% 100%);
clip-path:circle(80% at 70% 50%);
opacity:0.8;
  }
  #quote__writer{
    margin-left:470px;
    font-size:16px;
    opacity:0.7
  }
  .header__section .Span{
    font-size:34px;
  }


  @media (max-width: 765px) {
    .header {
        width: 100%;
        height: 90vh;
      }
      .headerIcon{
        font-size:24px;
      }
  .banner__img img {
    display: none;
  }
  #quote__box {
    padding-right: 100px;
    font-size: 16;
    max-width:270px;
    padding:10px;
  }

  
  .banner__icons{
    display:flex;
    flex-direction: row;
    justify-content: center;
    visibility: visible;
    top:0;
    bottom:0;
    margin-right:150px;
  }
  .header__content {
    margin-top:80px;
  }
  .header__section h2 {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .header__section p {
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 50px;
    padding-right: 130px;
  
  }
  .header__section .Span{
    font-size:25px;
  }

}