.footer {
    width: 100%;
    height:max-content;
    position: relative;
    background-image: linear-gradient(to left,gray,#231123,#7952B3);
    padding:12px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  }
  
  .footer__container {
    display: flex;
    align-items: center;
  }
  .footer__right a {
    text-decoration: none;
    opacity:0.7;
    color: #fff;
    font-size: 15px;
    padding: 0 15px;
  }

  .Span {
    font-size: 18px;
   color: silver;
  }
  
  
  .navbar__title {
    font-size: 1.5rem;
    align-items: center;

    font-weight: 600;
    font-family: 'Arvo', serif;
    display: flex;
    flex-direction: row;
    margin-left:80px;
  }

 


  
  @media (max-width: 765px) {
      .footer{
          padding:5px;
      }
    .footer__container{
      align-items: center;
      text-align: center;
      justify-content: center;
      flex-direction: column;
    }
    .navbar__title{
      padding:4px;
      margin:0;
    }
      .footer__right a {
        display: block;
        padding: 5px 0;
        font-size: 13px;
      }

     

 
 
  }