@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
.navbar {
    width: 100%;
    position: fixed;
    background:#7952B3;
    padding:5px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  }
  
  .navbar__icons{
    display:flex;
    flex-direction: row;
    align-items:center;

  }
  .nav-btn-outline {
    color: #E8E1F2;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
    font-size:16px;
    padding:7px;
    font-weight: 400;
    text-decoration: none;
  }
  .nav-btn-outline:hover{
    color:white;
  }
  .nav_ico{
    font-size:1.4rem;
    margin:8px;
    color:#DED4EC;
  }
  .nav_ico:hover{
    transform: scale(1.1);
    color:white;
  }
  
  .navbar__container {
    display: flex;
    align-items: center;
  }
  .toggle__box {
    position:fixed;
    visibility: hidden;
    top:14px;
    right:15px;
  }
  .Span {
    font-size: 18px;
   color:silver;

  }
  
  .ln {
    font-size: 18px;
    font-family: "cascadia-code", sans-serif;
    margin-left: 20px;
    font-weight: 500px;
    margin-right:500px;
  }
  .ln:hover{
    color:black;
  }
  
  .navbar__title {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Arvo', serif;
    display: flex;
    flex-direction: row;
    margin-left:80px;
  }
  
  .navbar__right {
    display: flex;
    background-color: #7952B3;

    list-style-type: none;
    margin-top:45px;
  }
  
  .navbar__right li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    padding: 0 15px;
  }

.nav__btn{
  border:1px solid #FFE484;
  border-radius: 4px;
  color:#FFE484;
  font-size:15px;
  vertical-align: middle;
  margin: 0px 0px 0px 16px;
  padding: 6px 12px;
  font-weight: 600;
  box-shadow: 0 0 20px #FFE484(0, 0, 0, 0.5);
}

.nav__btn:hover{
  background-color: #FFE484;
  color:black;
}

  
  @media (max-width: 765px) {
    .navbar {
      background-color:#FFFFFF;
    }
    .nav-btn-outline {
        padding: 2px;
       margin: 10px;
        justify-content: center;
        color: silver;
      }
      .navbar__title {
        padding: 4px;   
        
      }
      .ln, .navbar__icons {
        display:none;
      }
 
      .navbar__right {
        flex-direction: column;
        width: 100%;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
      }

      .navbar__right li a {
        display: block;
        padding: 20px 0;
        font-size: 14px;
      }

     .toggle__box {
        visibility: visible;
        cursor: pointer;
   
      }
      .toggle__btn{
        color:silver;
        font-size:17px;
      }

      .Span {
        color:#7952b3;
        opacity:0.7;
        font-size: 20px;
        font-weight:1000;
      }
 
  }