
.Econtainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
  }
  
  .Econtainer .Ecard {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
   
  }
  
  .Econtainer .Ecard .Econtent {
    padding: 20px;
  }
  
  .Econtainer .Ecard .Econtent h2 {
    position: absolute;
    top: -30px;
    right: 30px;
    font-size: 8rem;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
  }
  .Econtainer .Ecard .Econtent h3 {
    font-size: 1.3em;
    z-index: 1;
    margin-bottom:10px;
  }
  .Econtainer .Ecard .Econtent p {
    font-size: 1em;
    font-weight: 400;
  }
  .Econtainer .Ecard .Econtent a {
    position: relative;
    display: inline-block;
    padding: 8px 0px;
    margin-top: 20px;
    color: green;
    text-decoration: none;
    font-weight: 500;
  }
  .Econtainer .Ecard .Econtent .Techs a {
    padding: 10px 10px;
    border-radius: 2px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  .projects {
    padding: 100px 0;
  }