
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Lobster+Two&family=Pacifico&family=Source+Sans+3:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans 3', sans-serif;
  text-decoration: none;
}

a {
  color: white;
}

/* Helpers */
.container {
  width: 1200px;
  margin: 0 auto;
}

.h-650 {
  height: 650px;
}
.alignCenter {
  align-items: center;
}
.justifyConter {
  justify-content: center;
}

/* Grid System */
.row {
  display: flex;
  width: 100%;
  height: 50%;
  flex-wrap: wrap;
}
.col-4 {
  width: 30%;
}
.underline {
  text-decoration-line: underline;
  text-decoration-color: orange;
  text-decoration-thickness: 5px;
}

/* header */
/* Servives */


.common {
  width: 33.33333333333333%;
  margin: 20px auto;
  text-align: center;
}

.heading {
  margin-bottom: 20px;
  font-weight: 500;
  color: #ff4a57;
  font-size: 16px;
}
.mainHeader {
  font-size: 32px;
  margin-bottom: 20px;
}

.mainContent {
  font-size: 16px;
}

.commonBorder {
  background:gray;
  height: 3px;
  width: 130px;
  margin: 30px auto;
}



@media (max-width: 765px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }


  .col-6 {
    width: 100%;
  }
  .col-3 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }


  .common {
    width: 100%;
  }
  .h-650 {
    height: auto;
  }
  .mainHeader {
    font-size: 20px;
  }
 


}


