@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  color: white;
}

body {
  font-family: "Poppins", sans-serif;
  justify-content: center;
  align-items: center;
}

/* Helpers */
.container {
  width: 1200px;
  margin: 0 auto;
}

.h-650 {
  height: 650px;
}
.alignCenter {
  align-items: center;
}
.justifyConter {
  justify-content: center;
}

/* Grid System */
.row {
  display: flex;
  width: 100%;
  height: 50%;
  flex-wrap: wrap;
}
.col-4 {
  width: 50%;
}
.underline {
  text-decoration-line: underline;
  text-decoration-color: orange;
  text-decoration-thickness: 5px;
}

/* header */
/* Servives */
.services {

  background-image: linear-gradient(to right,gray,silver,#443844);
  padding: 100px 0;
}

.common {
  width: 33.33333333333333%;
  margin: 20px auto;
  text-align: center;
}

.heading {
  margin-bottom: 20px;
  font-weight: 500;
  color: #ff4a57;
  font-size: 16px;
}
.mainHeader {
  font-size: 32px;
  margin-bottom: 20px;
}

.mainContent {
  font-size: 16px;
}

.commonBorder {
  background: #ff4a57;
  height: 3px;
  width: 100px;
  margin: 30px auto;
}

.services__box {
  padding: 40px;
  margin: 20px;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.1);
}

.commonIcons {
  font-size: 40px;
  color: #f00e06;
  margin-bottom: 15px;
}

.services__box-header {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services__box-p {
  font-size: 14px;
}



@media (max-width: 765px) {
  .container {
    width: 100%;
    padding: 0 45px;
  }

  .col-6 {
    width: 100%;
  }
  .col-3 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }


  .common {
    width: 100%;
  }
  .h-650 {
    height: auto;
  }
  .mainHeader {
    font-size: 20px;
  }


}


